/*  GENERAL */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  display: block;
  margin-left: 0;
  margin-right: auto;
}

header {
  background-color: white;
}

footer {
  background-color: #FFFFF;
}

/* BOOKING ILLUSTRATIONS */
.illustration1 {
  background-image: url('../images/10.png');
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  min-height: 4rem;

}

.illustration2 {
  background-image: url('../images/9.png');
  background-size: 20%;
  background-position: 95% top;
  background-repeat: no-repeat;
}



/* HOME PAGE SLIDESHOW */
.mySlides {display:none;}
.w3-section,{margin-top:16px!important;margin-bottom:16px!important}
.w3-content{margin-left:auto;margin-right:auto;}
.w3-content{max-width:100%;}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

/* MENUS POP UP AND HOVER */
h3.menus{
  color: (0, 0, 0, 0);
}

/* SOCIAL LINKS/ICONS */
.fab, .fas{
  font-size: 1.8rem;
  color: #570100;
  transition: all 1s;
}

.fab:hover, .fas:hover{
  color: #7A4366;
  transition: all 1s;
}





/* This media query kicks into action at the gridlex sm breakpoint */
@media(max-width:768px) {
.illustration2 {
  background-image: url('../images/9.png');
  background-size: 20%;
  background-position: 85% bottom;
  background-repeat: no-repeat;
}

}

/* This media query kicks into action at the gridlex xs breakpoint */
@media(max-width:576px) {
  .illustration2 {
    background-image: url('../images/9.png');
    background-size: 20%;
    background-position: 95% bottom;
    background-repeat: no-repeat;
  }

}
