/*  GENERAL */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: white;
}

footer {
  background-color: #FFFFF;
}

/* TESTIMONIALS */
.banner-test1 {
  background-image: url('../images/food7.jpg');
  background-size: contain;
  background-position: 90% 50%;
  background-repeat: no-repeat;

}

.banner-test2 {
  background-image: url('../images/food7.jpg');
  background-size: contain;
  background-position: 10% 50%;
  background-repeat: no-repeat;

}



/* HOME PAGE SLIDESHOW */
.mySlides {display:none;}
.w3-section,{margin-top:16px!important;margin-bottom:16px!important}
.w3-content{margin-left:auto;margin-right:auto;}
.w3-content{max-width:100%;}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

/* MENUS POP UP AND HOVER */
h3.menus{
  color: (0, 0, 0, 0);
}

/* SOCIAL LINKS/ICONS */
.fab, .fas{
  font-size: 1.8rem;
  color: #570100;
  transition: all 1s;
}

.fab:hover, .fas:hover{
  color: #7A4366;
  transition: all 1s;
}
