/*-----  CSS RESET  ------*/

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  }

  img {
    max-width: 100%; /* this ensures images never break their container */
    height: auto;
  }

  body {
    font-family: 'DM Sans', sans-serif;
    color: #251A18;
    background-color:#FFFFF;
  }

   /* this overrides the default padding and margin on gridlex elements */
  [class*=grid] {   margin: 0;  }
  [class*=col]  {   padding: 0; }


  /* ------------- Utility Classes --------------  */

  .left     {  text-align: left;     }
  .right    {  text-align: right;    }
  .centered {  text-align: center;   }
  .justify {   text-align: justify;   }

  .padded   {  padding: 8% 5%;    }
  .padded-1 {  padding: 1rem;  }
  .padded-2 {  padding: 2rem;  }
  .bottom {padding-bottom: 1.5rem;}

  .capped-width { width: 80%; margin: auto;}

  .tall-50  {  min-height: 50vh;   }
  .tall-100 {  min-height: 100vh;  }

  .dark-bg      {  background-color: #38082E; color:white;     }
  .light-bg     {  background-color: #C59CA0; color: #8A1B4E; }
  .featured-bg  {  background-color: #E6EAD6;       }

  .light-text   { color: white; }
  .flex-flip:nth-child(2n){  flex-direction: column-reverse; }

  /* General typography */

  h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-bottom: 0.8rem;
    font-family: 'Lexend Deca', sans-serif;
    color: #CFD11A;
    letter-spacing: 2px;  }

  h2  { font-size: 2rem;  }
  h3  { font-size: 2rem; color: #251A18;  }
  h4  { font-size: 1.4rem;  }
  h5 {font-size: 1.4rem; color: #251A18;}
  h6 {font-size: 1rem; color: #8a1b4e; padding: 2% 0}
  p   { font-size: 1rem;  }

  p, ul {
     margin-bottom: 0.8rem;
  }

  /* this makes sure that the last element in any container doesn't have margin-bottom */
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child {
    margin-bottom:0;
  }

  hr { /* this is a line element */
    border: none;
    border-bottom: 3px solid;
    width: 4rem;
    margin-bottom: 1rem;
  }

  /* ------- unique typography styles - adjust to suit your styles  --------- */

  p.emphasis {   /* typically added to paragraphs to make them a little bigger, could be a different font or color also */
    font-size: 1.4rem;
    color: #c59ca0;
  }

  a.emphasis {   /* typically added to paragraphs to make them a little bigger, could be a different font or color also */
    font-size: 1rem;
    color: #c59ca0;
  }

  /* Icons */

  .far {        /* default styles for font awesome icons */
    font-size: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
  }

  /* ---------------  Button Styles  --------- */
  /* We have created lots of different button styles, you probably don't need to have quite this many styles depending on your site */

  .button,
  .button-solid,
  .button-inverted {
    text-decoration: none;
    color: #38082e;
    background-color: #c59ca0;
    /* border: 2px solid; */
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 1s;
    border-radius: 4px;
    font-family: 'Lexend Deca', sans-serif;
  }

  .button:hover {
    color: #38082e;
    background-color: #AE1E53;
    transition: all 1s;
  }

  .button.inverted {   /* this is for a button on a dark background */
    border: 2px solid white;
    color: white;
  }

  .button-inverted:hover {
    color: #38082e;
    background-color: #AE1E53;
  }

  .button-solid {
    background-color: #C59CA0;
    border-color: #38082e;
    color: #38082e;
    border-width: 2px;
    border-style:solid;
  }

  .button-solid:hover {
    background-color: #AE1E53;
    border-color: #AE1E53;
  }



  /* Headers and footers */

  header {
    padding: 2% 2%;
    background-color: #38082E;
  }

  header a,
  footer a,
  nav a {
    text-decoration: none;
    color: inherit;
  }

  header nav a,
  .inline a {
    display: inline-block;
    padding: 0.5rem .5rem;
    font-size: .8rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    color: white;
    /* text-transform: uppercase; */
    background-color: ;
    transition:all .5s;
    z-index: 202020202020202020;
    /* text-shadow: 3px 3px rgba(195, 191, 188, 0.6); */

  }
  nav a:hover {
    color: #AE1E53;
  }

  header nav a.emphasis {
    margin: 0 0.5rem;
    border-radius: 2px;
    color: white;
    background-color: #8Cb771;
    transition: all 1s;
  }

  header nav a.emphasis:hover {
    background-color: #AE1E53;
    color: white;
  }

  /* Dropdown Header */
  header li {
    list-style: none;
    display: inline-block;
    position: relative;
  }

  header li .dropdown-menu {
    display: none;
    padding: 1rem;
    min-width: 12rem;
    transition: all .5s;
  }

  header li li {
    display: block;
  }

  header .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: -1rem;
    background-color: white;
    transition: all .5s;
  }

  /* Fixed Header Option */

  header.fixed {
    position: fixed;
    padding: 2% 2%;
    background-color: #38082E;
    top:0;
    left:0;
    right:0;
    z-index: 2;
    margin:0;
    text-align: center;
  }
  .bump-for-header {
    min-height: 9rem;
  }


  /* -- Footer -- */

  footer .info {
    padding-right: 3rem;
  }

  footer nav a {
    display:block;
  }

  footer h3 {
    font-size: 1.2rem;
  }

  /* BANNERS & BG IMAGES */

  .banner,
  .banner-with-header {
    background-image: url('../images/food7.jpg');
    background-size: cover;
    background-position: center;
    min-height: 40vh;
  }

  .fixed {
    background-attachment: fixed;
  }

  .banner-with-header {
    padding-top: 6rem;
    min-height: 100vh;
  }

  .absolute-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: none;
  }


  .bg-imagel {
    background-image: url('../images/hero-plant.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: 5rem;
  }

  .bg-imager {
    background-image: url('../images/garden-plant.png');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 5rem;
  }


  /* ----- FORMS --------------------------- */

  input,
  textarea {
    border-style: solid;
    border: 2px solid #38082e;
    padding: 0.8em;
    display: block;
    color: #251A18;
    background-color: #FFF0EB;
    width: 100%;
    font-size: 1rem;
    vertical-align: top;
    font-family: 'Lexend Deca', sans-serif;
  }

  input:focus,
  textarea:focus {
    outline: none;
    color: #251A18;
    border: 2px solid #AE1E53;
    /* featured color */
  }

  textarea {
    min-height: 7em;
    color:#AE1E53;
  }

  input[type="submit"] {
    width: auto;
    display: block;
  }

  form [class*=col-] {
    /* padding: 5px; */
  }

  .email-signup input {
    /* width: 30%; */
    display: inline-block;
    max-width: 250px;
    margin-top:1rem;
  }

  .email-signup .button-solid {
    padding: 0.8em;
    border-radius: 0;
    font-size: 1rem;
    background-color: #cfd11a;
    color: white;
  }
   form .button {
     width:100%;
   }

   @media(max-width:768px) {
     .email-signup input {
       max-width: 60%;
     }
   }


/* Responsive video */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container.vertical {
  padding-bottom: 162.25%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* This media query kicks into action at the gridlex m breakpoint */
@media(max-width:1024px) {
	header nav a{
    padding: .5rem .5rem;
  }
}

/* This media query kicks into action at the gridlex sm breakpoint */
@media(max-width:768px) {

  .mob-hide {
    display: none;
  }

  .bg-imagel {
    background-size: 30%;
  }

  .bg-imager {
    background-size: 40%;}

  .blog-item-wide .bg-image{
    padding-bottom: 60%;
  }

  #body .text-bump {
    margin: -0.5rem;
  }

  /* header nav a{
    padding: .5rem .5rem;
  } */

  .capped-width {
    width: 100%;
  }
  .flex-flip{
    flex-direction: column-reverse;
  }

  /* .justify {text-align: center;}

  .right {text-align: center;} */

  .mob-center {text-align: center;}

  .banner {
    min-height: 25vh;
  }

} /* end media query */

@media(max-width:627px) {
  /* header nav a{
    padding: .5rem 2rem;
  } */


}

/* This media query kicks into action at the gridlex xs breakpoint */
@media(max-width:576px) {
  header nav a{

  }
} /* end media query */
