<!DOCTYPE html>
<html>
<head>

  <!-- Meta Data -->
    <meta charset="utf-8" />

    <!-- Meta data for SEO purposes. -->
    <title> Beets N Thyme </title>
    <meta name="description" content="{{page.meta-description}}" />
    <meta name="keywords" content="{{page.meta-keywords}}" />

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{page.meta-description}}" />
    <meta property="og:image" content="{{page.featured-image_path}}" />
    <meta property="og:url" content="{{page.url}}" />
    <meta name="twitter:card" content="{{page.meta-description}}" />
    <meta name="og:site_name" content="<!-- ADD SITE NAME HERE -->" />

  <!-- end of meta tags -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lexend+Deca&display=swap" rel="stylesheet" />

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />

    <!-- Font Awesome Version 5 for Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

    <!-- MAGNIFIC POPUP -  for lightbox galleries   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

    <!-- CUSTOM STYLE SHEET -->
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/custom.css" />

    <!-- W3 Slideshow -->
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta co ntent="text/html; charset=iso-8859-2" http-equiv="Content-Type" />

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="/images/bntfav.png" />

</head>
<body>

<!-- HEADER ALL SCREENS -->
<header class="grid-center fixed" id="navbar">
  <div class="col-2_sm-3-middle ">
    <a href="/">
    <img class="grid-center-middle center centered" width="100%" src="/images/bntfav.png" alt="Beets" id="logo" />
    </a>
  </div>
<nav class="col-10_sm-9-middle right">
  <span class="dropdown-nav">
    <a href="#welcome" class="editable"> Welcome </a>
    <div class="dropdown-content">
          <a href="#garden" class="editable">Garden</a>
          <a href="#kitchen" class="editable">Kitchen</a>
          <a href="#studio" class="editable">Studio</a>
        </div>
      </span>
    <a href="https://beetsnthyme.square.site/classes" class="editable" target="_blank"> Classes </a>
    <a href="https://beetsnthyme.square.site/shop" class="editable" target="_blank"> Shop </a>
    <a href="https://www.instagram.com/beetsnthyme/" class="editable" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="mailto:beetsnthyme@gmail.com" class="editable" ">
      <i class="fas fa-envelope"></i>
    </a>
  </nav>
</header>


    {{content}}


    <!-- adds jQuery library to your site -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <!-- adds Magnific Popups javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

    <!-- this is your custom javascript/jQuery file -->
    <script src="/assets/main.js"></script>


<!-- FOOTER -->
<footer class="grid padded-1 dark-bg">
  <!-- HEADER -->
  <div class="col-7_sm-12-middle padded-1">
    <h2 class="editable">
      Sign-ups for tips, tricks, &amp; home-life goodness
    </h2>

    <!-- EMAIL SUBSCRIPTION FORM-->
  <form class="email-signup bottom" action="https://formspree.io/f/xoqpnyzp" method="POST">
    <input type="email" name="_replyto" placeholder="Your Email" />
    <input type="submit" value="Subscribe" class="button-solid" />
  </form>
  <p class="emphasis editable">
    Give Mina a Shout
  </p>
  <a href="/" class="emphasis editable">BeetsnThyme@gmail.com</a>
  </div>

  <!-- DIVIDER -->
  <div class="col"> </div>

  <div class="col-5_sm-12-middle padded-1 centered">
    <!-- INSTAGRAM EMBED HERE -->
    <!-- SnapWidget -->
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/894142" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
  </div>
</footer>

</body>
</html>
